<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body style="text-align: center;">
        <div class="content">
        <h1 th:inline="text">You are signed in as [[${#httpServletRequest.remoteUser}]]!</h1>
        <a href="pool" class="select" style="color: black">Aquapark</a>
        <br/>
        <br/>
        <form style="text-align: left;" th:action="@{/logout}" method="post">
            <input type="submit" style="bottom: 20px; right: 40px; position: absolute; height: 35px" value="Sign Out"/>
        </form>
        </div>
    </body>
</html>