<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
      <title>Pools database</title>
      <link rel="stylesheet" href="style.css">
   </head>
   <body>
      <div class="content">
      <h1>Pools</h1>
      <table class="indextable" style="border: 1px solid black">
         <thead>
            <tr style="border: 1px solid black">
               <th style="border: 1px solid black">Pool Name</th>
               <th style="border: 1px solid black">Pool Type</th>
               <th style="border: 1px solid black">Number of people</th>
               <th style="border: 1px solid black">Delete</th>
               <th style="border: 1px solid black">Modify</th>
            </tr>
         </thead>
         <tbody>
         <tr th:each="str : ${list}" style="border: 1px solid black">                        
            <td style="display: none; border: 1px solid black"th:text=${str.id}></td>
            <td th:text=${str.poolName} style="border: 1px solid black"></td>
            <td th:text=${str.poolType} style="border: 1px solid black"></td>
            <td th:text=${str.noPeople} style="border: 1px solid black"></td>
            <td style="border: 1px solid black">
            <form action="#" th:action="@{/delete=} + ${{str.id}}" method="get">
               <button class="select" th:id="'table_entry_button_' + ${str.id}" type="submit">
                   <img src="img/delete.jpg" style="width: 40px; height: 40px;">
               </button>
           </form>
           </td>
           <td style="border: 1px solid black">
            <form action="#" th:action="@{/poolConfig=} + ${{str.id}}" method="get">
               <button class="select" th:id="'table_entry_button_' + ${str.id}" type="submit">
                   <img src="img/modify.png" style="width: 40px; height: 40px;">
               </button>
           </form>
           </td>
         </tr>
         </tbody>
      </table>
      <p><img src="img/CatInPool.jpg" style="position:absolute; top:80px; right:80px; border: 3px solid #e3420e;"></p>
      <br/><br/>
      <button onclick="document.location='poolConfig'">Add pool</button> 
      <br/><br/><br/>
      <button onclick="document.location='home'" style="bottom: 20px; right: 40px; position: absolute; height: 35px">Homepage</button> 
      </div>
   </body>

</html>